<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PaymentsReport.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PaymentsReport.AppSettings>
            <setting name="SourceFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="ReportFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="InnRoot" serializeAs="String">
                <value />
            </setting>
            <setting name="InnFirst" serializeAs="String">
                <value />
            </setting>
        </PaymentsReport.AppSettings>
    </userSettings>
</configuration>